*{margin: 0; padding: 0;}
img{
    width: 100%;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #8A8782;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
