*{margin: 0; padding: 0;}
img{
    width: 100%;
}
header{
    background-color: #ffffd2;
}
main{
    background-color: #ecf1cf;
}
footer{
    background-color: #FFFBF0;
}
nav{
    background-image: url(logo&icons/nav-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
}
.categori-woman,.categori-man{
    padding: 5px 0px;
    border-radius: 10px;
}
.categories a{
    text-decoration: none;
}
.categori-woman{
    background-color: orange;
}
.categori-man{
    background-color: #8A8782;
}
.categories h2{
    color: white;
}
.categories img{
    width: 100px;
}
